{% extends 'base.html' %} {% import 'macros.html' as macro %} {%block content%}
<link
  href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200&display=swap"
  rel="stylesheet"
/>
<div
  class="jumbotron text-center"
  style="
    background-color: rgb(91, 97, 57);
    color: #fff;
    padding: 100px 25px;
    font-family: 'Grenze Gotisch', cursive;
  "
>
  <h1>Promotion Pitches</h1>
</div>
<div class="container" style="font-family: 'Grenze Gotisch', cursive">
  <hr />
  <div class="row">{{macro.displayPitches(pitches)}}</div>
</div>
{%endblock%}
